xpatch-1.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns="http://indiologic.sourceforge.net/xml-schema/xmlpatch-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://indiologic.sourceforge.net/xml-schema/xmlpatch-1.0.xsd">
	<xs:element name="patch">
		<xs:annotation>
			<xs:documentation>Root Element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="root" />
				<xs:element ref="branch" />
			</xs:choice>
			<xs:attribute name="version" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The manifest version</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="generator" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="branch">
		<xs:annotation>
			<xs:documentation>Start Directory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="directory" />
				<xs:element ref="file" />
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional">
				<xs:annotation>
					<xs:documentation>Identification of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The name of the directory</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="base" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>The base directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="size" type="xs:nonNegativeInteger" use="optional">
				<xs:annotation>
					<xs:documentation>The size of the directory in bytes</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="md5" type="MD5HexDigestType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed MD5 hash of directory</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="crc32" type="CRC32CheckSumType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed CRC-32 hash of directory</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mtime" type="xs:nonNegativeInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Modification time of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="files" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Number of files under this directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="directories" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Number of directories under this directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Description of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="root">
		<xs:annotation>
			<xs:documentation>Root Directory (obsolete)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="directory" />
				<xs:element ref="file" />
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional">
				<xs:annotation>
					<xs:documentation>Identification of the root.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>The name of the root</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="basedir" type="xs:string">
				<xs:annotation>
					<xs:documentation>The base directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="size" type="xs:nonNegativeInteger" use="optional">
				<xs:annotation>
					<xs:documentation>The size of the root in bytes</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="md5" type="MD5HexDigestType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed MD5 hash of root</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="crc32" type="CRC32CheckSumType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed CRC-32 hash of root</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mtime" type="xs:nonNegativeInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Modification time of the root.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Description of the root.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="files" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Number of files under this root.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="directories" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Number of directories under this root.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="directory">
		<xs:annotation>
			<xs:documentation>Directory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="file" />
				<xs:element ref="directory" />
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional">
				<xs:annotation>
					<xs:documentation>Identification of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="FileNameType" use="required">
				<xs:annotation>
					<xs:documentation>The name of the file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mtime" type="FileMTimeType" use="optional">
				<xs:annotation>
					<xs:documentation>Modification time of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Description of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dir">
		<xs:annotation>
			<xs:documentation>Directory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="file" />
				<xs:element ref="directory" />
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional">
				<xs:annotation>
					<xs:documentation>Identification of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="FileNameType" use="required">
				<xs:annotation>
					<xs:documentation>The name of the file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mtime" type="FileMTimeType" use="optional">
				<xs:annotation>
					<xs:documentation>Modification time of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Description of the directory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="from">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded"></xs:choice>
			<xs:attribute name="id" type="xs:ID" use="optional">
				<xs:annotation>
					<xs:documentation>Identification of the file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="FileNameType" use="required">
				<xs:annotation>
					<xs:documentation>The name of the file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="size" type="xs:nonNegativeInteger" use="required">
				<xs:annotation>
					<xs:documentation>The size of the file in bytes</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="md5" type="MD5HexDigestType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed MD5 hash of file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="crc32" type="CRC32CheckSumType" use="optional">
				<xs:annotation>
					<xs:documentation>Computed CRC-32 hash of file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mtime" type="FileMTimeType" use="optional">
				<xs:annotation>
					<xs:documentation>Modification time of the file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="comment" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Description of the file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="MD5HexDigestType">
		<xs:annotation>
			<xs:documentation>MD5 hash of data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-f]{32}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CRC32CheckSumType">
		<xs:annotation>
			<xs:documentation>CRC-32 check-sum of data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-f]{8}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileNameType">
		<xs:annotation>
			<xs:documentation>The name of the file or directory</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileMTimeType">
		<xs:annotation>
			<xs:documentation>An integer value representing the last modification time, measured in seconds since the epoch (00:00:00 GMT, January 1, 1970)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger" />
	</xs:simpleType>
</xs:schema>